In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key
g_key

'AIzaSyDyEYb-x4V6RsHJYBpnYgRY8LbOchv4_Ow'

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Tashtyp,RU,2021-01-16 21:28:31,52.7939,89.8983,13.87,87,98,0.96
1,1,Mitu,CO,2021-01-16 21:28:31,1.1983,-70.1733,83.17,82,85,2.93
2,2,Kargil,IN,2021-01-16 21:28:32,34.5667,76.1000,-2.92,64,0,1.74
3,3,Ushuaia,AR,2021-01-16 21:28:32,-54.8000,-68.3000,57.20,62,75,16.11
4,4,Mataura,NZ,2021-01-16 21:28:32,-46.1927,168.8643,70.00,50,100,15.01

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [18]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
# Heatmap of Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [24]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Mitu,CO,2021-01-16 21:28:31,1.1983,-70.1733,83.17,82,85,2.93
5,5,Pilar,BR,2021-01-16 21:28:32,-9.5972,-35.9567,78.80,73,20,11.50
7,7,Avarua,CK,2021-01-16 21:28:32,-21.2078,-159.7750,84.20,74,20,8.05
9,9,Daru,PG,2021-01-16 21:28:32,-9.0763,143.2092,78.12,92,100,8.84
11,11,Puerto Ayora,EC,2021-01-16 21:28:32,-0.7393,-90.3518,82.40,69,40,9.22
12,12,Rikitea,PF,2021-01-16 21:28:32,-23.1203,-134.9692,78.40,67,1,5.23
14,14,Chuy,UY,2021-01-16 21:28:32,-33.6971,-53.4616,75.99,79,34,12.68
20,20,Atuona,PF,2021-01-16 21:28:33,-9.8000,-139.0333,78.03,77,4,14.74
21,21,Hilo,US,2021-01-16 21:28:33,19.7297,-155.0900,82.40,57,20,8.05
29,29,Vaini,TO,2021-01-16 21:28:34,-21.2000,-175.2000,86.00,79,40,11.50

In [30]:
preferred_cities_df.count()

City_ID       157
City          157
Country       156
Date          157
Lat           157
Lng           157
Max Temp      157
Humidity      157
Cloudiness    157
Wind Speed    157
dtype: int64

In [35]:
preferred_cities_df.dropna(inplace=True)
preferred_cities_df.count()

C:\Users\johnj\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

City_ID       156
City          156
Country       156
Date          156
Lat           156
Lng           156
Max Temp      156
Humidity      156
Cloudiness    156
Wind Speed    156
dtype: int64

In [36]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
1           Mitu      CO     83.17   1.1983  -70.1733
5          Pilar      BR     78.80  -9.5972  -35.9567
7         Avarua      CK     84.20 -21.2078 -159.7750
9           Daru      PG     78.12  -9.0763  143.2092
11  Puerto Ayora      EC     82.40  -0.7393  -90.3518
12       Rikitea      PF     78.40 -23.1203 -134.9692
14          Chuy      UY     75.99 -33.6971  -53.4616
20        Atuona      PF     78.03  -9.8000 -139.0333
21          Hilo      US     82.40  19.7297 -155.0900
29         Vaini      TO     86.00 -21.2000 -175.2000

In [37]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [42]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
# Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [43]:
hotel_df.head(50)

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Mitu,CO,83.17,1.1983,-70.1733,
5,Pilar,BR,78.80,-9.5972,-35.9567,Pousada e churrascaria Manguaba
7,Avarua,CK,84.20,-21.2078,-159.7750,Paradise Inn
9,Daru,PG,78.12,-9.0763,143.2092,Daru Lodge
11,Puerto Ayora,EC,82.40,-0.7393,-90.3518,Castillo Galapagos
12,Rikitea,PF,78.40,-23.1203,-134.9692,Pension Maro'i
14,Chuy,UY,75.99,-33.6971,-53.4616,Nuevo Hotel Plaza
20,Atuona,PF,78.03,-9.8000,-139.0333,Villa Enata
21,Hilo,US,82.40,19.7297,-155.0900,Hilo Hawaiian Hotel
29,Vaini,TO,86.00,-21.2000,-175.2000,Keleti Beach Resort
30,Oistins,BB,80.60,13.0667,-59.5333,Butterfly Beach Hotel
39,Kimbe,PG,78.69,-5.5502,150.1429,Kimbe Bay Hotel
43,Hithadhoo,MV,80.78,-0.6000,73.0833,Scoop Guest House
44,Carnarvon,AU,80.60,-24.8667,113.6333,Hospitality Carnarvon
49,Mogadishu,SO,76.80,2.0371,45.3438,Hotel Juba
51,Kapaa,US,78.80,22.0752,-159.3190,Sheraton Kauai Resort at Coconut Beach
62,Sawakin,SD,75.29,19.1059,37.3321,فندق الدويم
68,Saint-Philippe,RE,80.60,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""
70,Kokoda,PG,76.80,-8.8785,147.7407,Daito Guest House
72,Geraldton,AU,80.60,-28.7667,114.6000,Broadwater Mariner Resort
79,Sao Paulo De Olivenca,BR,81.57,-3.3783,-68.8725,
80,Kavieng,PG,83.16,-2.5744,150.7967,Nusa Island Retreat
81,Karratha,AU,87.35,-20.7377,116.8463,ibis Styles Karratha
82,Kalmunai,LK,76.42,7.4167,81.8167,VS Villa
87,Anloga,GH,82.40,5.7947,0.8973,Pin Drop Hotel
91,Mahebourg,MU,78.80,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
92,Pantai Remis,MY,78.01,4.4557,100.6288,Leisure Homestay
93,Axim,GH,79.77,4.8699,-2.2405,AXIM BEACH RESORT AND SPA
99,Bambous Virieux,MU,80.01,-20.3428,57.7575,Casa Tia Villa
106,Santa Helena De Goias,BR,77.95,-17.8136,-50.5969,Hotel Pacheco
109,Georgetown,MY,80.01,5.4112,100.3354,Cititel Penang
112,Imbituba,BR,82.40,-28.2400,-48.6703,Praia Hotel Imbituba
118,Ratnagiri,IN,77.07,16.9833,73.3000,Hotel Landmark
119,Santo Antonio Do Ica,BR,84.16,-3.1022,-67.9397,Hotel Fogaça
120,Lydenburg,ZA,75.99,-25.0978,30.4597,The Palms Boutique Hotel
121,Samarai,PG,83.86,-10.6167,150.6667,Nuli Sapi
122,Cayenne,GF,80.60,4.9333,-52.3333,Hôtel Le Dronmi
128,Caravelas,BR,78.12,-17.7125,-39.2481,Pousada dos Navegantes
129,Merauke,ID,78.30,-8.4667,140.3333,
131,Kabanjahe,ID,75.20,3.1001,98.4908,Kos-Kosan wanita muslim bagoes kabanjahe
133,Isangel,VU,84.20,-19.5500,169.2667,Volcano Sea View Tree House
136,Alta Floresta,BR,80.60,-9.8756,-56.0861,Floresta Amazonica Hotel
137,Banjar,ID,78.80,-8.1900,114.9675,The Hamsa Resort
141,Santa Fe,AR,82.78,-31.6333,-60.7000,Conquistador Hotel
143,Bathsheba,BB,80.60,13.2167,-59.5167,Atlantis Hotel
144,Souillac,MU,78.80,-20.5167,57.5167,Shanti Maurice Resort & Spa
146,Bengkulu,ID,75.87,-3.8004,102.2655,Grage Hotel Bengkulu
149,Butaritari,KI,80.91,3.0707,172.7902,Isles Sunset Lodge
151,San Cristobal,VE,86.00,7.7669,-72.2250,Pirineos
152,Vangaindrano,MG,78.69,-23.3500,47.6000,Hotel Fanilo

In [45]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [47]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [48]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))